.clr{clear:both}
body{
    margin: 0
}
.topnavFlorida{
    background-color: #a5c0e9;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    border-bottom: 2px rgb(70, 70, 172) solid; 
}
.topnavFlorida a{
    float: center;
    color: #26274b;
    text-align: center;
    padding: 1% 4.5%;
    text-decoration: none;
    font-size: 1.3vw;
    font-family: "Palatino Linotype";
    font-weight:bold;
}
.topnavFlorida a:hover{
    color:#375a81
}
.topnavFlorida{
    position:fixed; 
    top:0;
    width: 100%;
    padding: 1%;
}
.NiagaraFallsSideBar{
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 200px;
    left: 10px;
    background: #d4d4d4;
    overflow-x: hidden;
    padding: 8px 0;
}
.NiagaraFallsSideBar a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: normal;
    color:#26274b;
    display: block;
}
.NiagaraFallsSideBar a:hover{
    color:#375a81;
}
.DowntownOakvilleSideBar{
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 200px;
    left: 10px;
    background: #d4d4d4;
    overflow-x: hidden;
    padding: 8px 0;
}
.DowntownOakvilleSideBar a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: normal;
    color:#26274b;
    display: block;
}
.DowntownOakvilleSideBar a:hover{
    color:#375a81;
}
.IndividualAttractionsSideBar{
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 200px;
    left: 10px;
    background: #d4d4d4;
    overflow-x: hidden;
    padding: 8px 0;
}
.IndividualAttractionsSideBar a{
    padding: 6px 8px 6px 16px;text-decoration: none;
    font-size: normal;
    color:#26274b;
    display: block;
}
.IndividualAttractionsSideBar a:hover{
    color:#375a81;
}
.TorontoSideBar{
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 200px;
    left: 10px;
    background: #d4d4d4;
    overflow-x: hidden;
    padding: 8px 0;
}
.TorontoSideBar a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: normal;
    color:#26274b;
    display: block;
}
.TorontoSideBar a:hover{
    color:#375a81;
}
#NiagaraFallsWide{
    border-bottom:2px #a5c0e9 solid;
    margin: 4% 0px -4px 0px;
}
#TorontoWaterfrontImage{
    border-bottom:2px #a5c0e9 solid;
    margin: 4% 0px -4px 0px;
}
#DowntownOakvilleWide{
    border-bottom:2px #a5c0e9 solid;
    margin: 4% 0px -4px 0px;
}
#RGBWide{
    border-bottom: 2px #a5c0e9 solid;
    margin: 4% 0px -4px 0px
}

h1{
    text-align: center;
    background-color:#a5c0e9; 
    color: #4b4b4b; 
    font-family: "Palatino Linotype";
    padding: 1%;
    margin:0px;
    border-bottom: 2px #375a81 solid;
}
h3{
    text-align: left;
    color: #4b4b4b;
    font-family: "Palatino Linotype";
    margin: 10px 10% 10px 13%;
}
hr{
    margin: 20px 10%;
}
p{
    text-indent: 30px;
    font-family:"Palatino Linotype";  
    padding:1%; 
    margin:2px 8% 2px 13%; 
    font-size:large; 
    line-height: 27px;
}
h2{
    background-color:#a5c0e9; color: #4b4b4b; 
    font-family: "Palatino Linotype"; 
    font-weight: bold; 
    text-align:center; 
    padding:3px; 
    border:1px lightgray solid; 
    margin:5px 10% 5px 13%;
}
h4{ 
    color: #302f2f; 
    font-family: "Palatino Linotype"; 
    font-weight: bold; 
    text-align: left;  
    margin:5px 10% 5px 13%;
    font-size: large;
}
li{
    font-family:"Palatino Linotype";  
    font-size:large; 
}
ol{
    margin: 0% 8% 0% 13%;
}
ul{
    margin: 0% 8% 0% 13%;
}
#ObservationLevels{
    margin: 0% 8% 0% 0%
}
#MainObservationLevel{
    font-weight:bold;
}
#GlassFloor{
    font-weight: bold;
}
#TheTop{
    font-weight:bold;
}
#EdgeWalk{
    font-weight:bold;
}
#Restaurant{
    font-weight:bold;
}
#Virtual{
    font-weight:bold;
}
a:hover{
    color:#375a81
}
#CliftonHillImage{
    float:right;
    margin:10px 10% 10px 3%;
    border:5px #a5c0e9 solid;
    box-sizing:border-box;
}
#title1{
    text-indent:0;
    font-weight:bold
}
#title2{
    text-indent: 0;
    font-weight:bold
}
#title3{
    text-indent:0;
    font-weight:bold
}
#copyright{
    font-weight: normal;
    font-size: normal;
    font-family: "Palatino Linotype";
    margin: 30px 10%;
}
