.clr{clear:both}
body{
    margin:0px;
}
h1{
    background-color:#b8b7ec; 
    color: #4b4b4b; 
    font-family: "Palatino Linotype"; 
    font-size: 25px; 
    font-weight: bold; 
    margin:75px 10% 10px 13%; 
    border:2px rgb(70, 70, 172) solid; 
    text-align:center; 
    padding:8px;
}
a:hover{color:#375a81}
h2{
    background-color:#b8b7ec; color: #4b4b4b; 
    font-family: "Palatino Linotype"; 
    font-weight: bold; 
    text-align:left; 
    padding:3px; 
    border:1px lightgray solid; 
    margin:5px 10% 5px 13%;
}
h3{
    font-family:"Palatino Linotype"; 
    margin: 10px 15%; 
}
p{
    font-family:"Palatino Linotype"; 
    border:1px rgb(255, 255, 255) solid; 
    padding:1%; 
    margin:2px 10% 2px 13%; 
    font-size:large; 
    line-height: 27px;
}
#food-district-photo{
    float: right; 
    margin: 5px 10% 4px 15px; 
    box-sizing:border-box; 
    border: 5px #b8b7ec solid;
}
#intro-paragraph1{
    text-align: center;
}
#The-REC-Room{
    float:right; 
    margin: 5px 10% 5px 15px; 
    box-sizing:border-box; 
    border: 5px #b8b7ec solid; 
}
ul{
    font-family:"Palatino Linotype"; 
    border: 1px rgb(255, 255, 255) solid; 
    padding: 1%; 
    margin: 2px 15%; 
    font-size: large; 
    line-height: 27px;
}
hr{
    margin: 10px 10% 10px 13%; 
}
.topnavFlorida{
    background-color: #b8b7ec;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    border-bottom: 2px rgb(70, 70, 172) solid; 
    
}
.topnavFlorida a{
    float: center;
    color: #26274b;
    text-align: center;
    padding: 1% 4.5%;
    text-decoration: none;
    font-size: 1.3vw;
    font-family: "Palatino Linotype";
    font-weight:bold;
}
.topnavFlorida a:hover{
    color:#375a81
}
#copyright{
    font-weight: normal;
    font-size: normal;
    font-family: "Palatino Linotype";
    margin: 30px 10%;

}
.topnavFlorida{
    position:fixed; 
    top:0;
    width: 100%;
    padding: 1%;
}
.InclementSideBar{
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 275px;
    left: 10px;
    background: #d4d4d4;
    overflow-x: hidden;
    padding: 8px 0;
}
.InclementSideBar a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: normal;
    color:#26274b;
    display: block;
}
.sidenav a:hover{
    color:#375a81;
}